[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment=CART_HOST={{ lookup('amazon.aws.aws_ssm', 'payment.{{env}}.CART_HOST', region='us-east-1') }}
Environment=CART_PORT={{ lookup('amazon.aws.aws_ssm', 'payment.{{env}}.CART_PORT', region='us-east-1') }}
Environment=USER_HOST={{ lookup('amazon.aws.aws_ssm', 'payment.{{env}}.USER_HOST', region='us-east-1') }}
Environment=USER_PORT={{ lookup('amazon.aws.aws_ssm', 'payment.{{env}}.USER_PORT', region='us-east-1') }}
Environment=AMQP_HOST={{ lookup('amazon.aws.aws_ssm', 'payment.{{env}}.AMQP_HOST', region='us-east-1') }}
Environment=AMQP_USER={{ lookup('amazon.aws.aws_ssm', 'rabbitmq.{{env}}.AMQP_USER', region='us-east-1') }}
Environment=AMQP_PASS={{ lookup('amazon.aws.aws_ssm', 'rabbitmq.{{env}}.AMQP_PASS', region='us-east-1') }}

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target
